.item{
    color: blue;
    background-color: silver;
    width: 70%;
    /*width: 100px;*/
    border:1px solid green;
    margin-top: 1%;
}

h2{
    color: brown;

}

.item h2{
    color: #ffd700;
}