html{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    color: gray;
}

.item{
    color: blue;
    background-color: silver;
    width: 70%;
    /*width: 100px;*/
    border:1px solid green;
    margin-top: 1%;
}

h2{
    color: brown;

}

.item h2{
    color: #ffd700;
}

.table-unam{
    border: 1px solid black;
    background: white;
    width: 80%;
}

.table-unam thead th{
    border: 1px black;
    color: blue;
    
}

.table-unam tbody td{
    border-bottom: 1px solid gray;
    font-size: 15px;
    text-align: justify;
    padding: 2px;
}


.item-bg-aqua{
    background: aquamarine;
}

.font-size-3{
    font-size: 30px;
}

.text-white{
    color: white;
}

.btn-primary{
    background-color: #ffd700;
    width: 80%;
    border-radius: 20px;
    color: black;
    border: 0;
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn-primary:hover{
    background-color: yellowgreen;
    color: gray;
}